Repository belgattitude/bluewind: changes, and which Codecov flags are due for each by the changed paths.
All: appsApi, appsWeb, packagesErrorFlow

codecov.yml:

coverage:
    status:
        project:
            default: off
            appsApi:
                flags: appsApi
            appsWeb:
                flags: appsWeb
            packagesErrorFlow:
                flags: packagesErrorFlow
                threshold: 60

flags:
    appsApi:
        paths:
            - apps/api
    appsWeb:
        paths:
            - apps/web
    packagesErrorFlow:
        paths:
            - packages/error-flow

chore: removd unused tslint
  apps/api/tslint.json
Due: appsApi

chore: added yarn clean
  packages/error-flow/.yarnclean
Due: packagesErrorFlow

chore: updated deps to latest versions
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/error-flow/package.json
  yarn.lock
Due: appsApi, appsWeb, packagesErrorFlow

chore: updated deps
  apps/api/package.json
  apps/web/package.json
  packages/error-flow/package.json
  playground/api-nestjs-experiment/package.json
  playground/api-nestjs-experiment/yarn.lock
  yarn.lock
Due: appsApi, appsWeb, packagesErrorFlow

updated lock
  yarn.lock
Due: none

chore: updated dependencies
  apps/web/package.json
  packages/error-flow/package.json
  yarn.lock
Due: appsWeb, packagesErrorFlow

chore: updated deps
  apps/api/package.json
  package.json
  yarn.lock
Due: appsApi

doc: added warning for auto synchronize
  apps/api/.env.template
Due: appsApi

reactor: ts 3.7
  apps/api/data/.gitignore
  apps/web/src/core/context/search-context.tsx
  apps/web/src/features/home/test.tsx
  data/bluewind.sqlite
Due: appsApi, appsWeb

chore: eslint relaxed non-empty-function for test files
  packages/error-flow/.eslintrc.json
Due: packagesErrorFlow

ci: add lint (will need proper stages soon)
  .github/workflows/nodejs.yml
Due: none

chore: eslint relaxed no-empty-function
  apps/api/.eslintrc.json
  apps/web/.eslintrc.json
Due: appsApi, appsWeb

chore(deps): updated deps
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/error-flow/package.json
  yarn.lock
Due: appsApi, appsWeb, packagesErrorFlow

chore(codecov): improve github action and test codecov
  .codecov.yml
  .github/workflows/nodejs.yml
  .travis.yml
  packages/error-flow/package.json
Due: packagesErrorFlow

chore(codecov): improve github action and test codecov
  .github/workflows/nodejs.yml
Due: none

chore(codecov): improve github action codecov:publish
  .github/workflows/nodejs.yml
  apps/web/package.json
  package.json
  packages/error-flow/package.json
Due: appsWeb, packagesErrorFlow

chore(codecov): improve github action codecov:publish
  .codecov.yml
  .github/workflows/all-tests.yml
  apps/api/jest.unit.config.js
  apps/api/package.json
  apps/web/jest.config.js
  apps/web/package.json
  packages/error-flow/package.json
Due: appsApi, appsWeb, packagesErrorFlow

chore(codecov): improve github action codecov:publish
  .github/workflows/all-tests.yml
  apps/api/jest.integration.config.js
  apps/api/jest.unit.config.js
Due: appsApi

chore(deps): update
  apps/api/package.json
  apps/web/package.json
  package.json
  yarn.lock
Due: appsApi, appsWeb

chore(codecov): more tests
  apps/api/package.json
  packages/error-flow/package.json
Due: appsApi, packagesErrorFlow

chore(codecov): more tests
  package.json
Due: none

chore(codecov): another attempt
  apps/api/package.json
  apps/web/package.json
  packages/error-flow/package.json
Due: appsApi, appsWeb, packagesErrorFlow

chore(codecov): another attempt
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/error-flow/package.json
Due: appsApi, appsWeb, packagesErrorFlow

chore(codecov): another attempt 4
  .github/workflows/all-tests.yml
Due: none

chore(codecov): another attempt 5
  .github/workflows/all-tests.yml
Due: none

chore(codecov): cleanup
  .github/workflows/all-tests.yml
  apps/api/package.json
  apps/web/package.json
  packages/error-flow/package.json
Due: appsApi, appsWeb, packagesErrorFlow

chore(deps): updated to jest 25.1 + minor updated
  apps/web/package.json
  package.json
  packages/error-flow/package.json
  yarn.lock
Due: appsWeb, packagesErrorFlow

chore(deps): updated api deps
  apps/api/package.json
  yarn.lock
Due: appsApi

fix: lock redux toolkit to 1.2.1
  apps/web/package.json
  apps/web/src/features/auth/auth.redux.ts
  apps/web/src/store.ts
  yarn.lock
Due: appsWeb

attempt to fix redux toolkit
  apps/web/package.json
  apps/web/src/store.ts
  yarn.lock
Due: appsWeb

test codesandbox of phryneas
  apps/web/package.json
  apps/web/src/store.ts
  yarn.lock
Due: appsWeb

chore(deps): update all to latest
  apps/api/package.json
  apps/web/package.json
  packages/error-flow/package.json
  yarn.lock
Due: appsApi, appsWeb, packagesErrorFlow

fix(typing): fix the typing of AppThunk
  apps/web/src/store.ts
Due: appsWeb

chore(deps): latest deps update
  package.json
Due: none

fix(deps): missing js-levenstein
  apps/web/package.json
  yarn.lock
Due: appsWeb

feat: updated examples to nextjs swagger 4
  playground/api-nestjs-experiment/package.json
  playground/api-nestjs-experiment/src/env.ts
  playground/api-nestjs-experiment/src/student/dto/create-student.dto.ts
  playground/api-nestjs-experiment/src/student/dto/student-list-response.dto.ts
  playground/api-nestjs-experiment/src/teacher/dto/create-teacher.dto.ts
  playground/api-nestjs-experiment/yarn.lock
Due: none

fix: updated dep
  playground/api-nestjs-experiment/package.json
  playground/api-nestjs-experiment/yarn.lock
Due: none

chore(deps): update all deps + new scripts
  apps/api/package.json
  apps/api/src/features/auth/token.service.ts
  apps/web/package.json
  apps/web/src/component/layout/header.tsx
  apps/web/src/features/home/home.page.tsx
  apps/web/src/features/student/student.page.tsx
  apps/web/tsconfig.json
  package.json
  packages/error-flow/package.json
  yarn.lock
Due: appsApi, appsWeb, packagesErrorFlow

chore(deps): update all deps + new scripts
  apps/api/tsconfig.json
Due: appsApi
