Repository belgattitude/bluewind: changes, and which Codecov flags are due for each by the changed paths.
All: apps-api, apps-web, packages-error-flow

chore: codecov
  .travis.yml
Due: none

chore: codecov attempt 2
  codecov.yml
Due: none

chore: codecov attempt 3
  .travis.yml
  codecov.yml
Due: none

chore: codecov attempt 4
  .travis.yml
  packages/error-flow/package.json
Due: none

remove build from api
  .travis.yml
Due: none

chore: devdeps update
  apps/api/package.json
  apps/web/package.json
  packages/error-flow/package.json
  yarn.lock
Due: apps-api, apps-web

chore: added codecov threshold
  codecov.yml
Due: none

chore: travis node 12 and improvements
  .travis.yml
Due: none

chore: updated deps
  playground/api-nestjs-experiment/package.json
  playground/api-nestjs-experiment/yarn.lock
Due: none

chore: fixed travis codecov
  .travis.yml
Due: none

chore: fixed travis codecov (second attempt)
  .travis.yml
Due: none

chore: global codecov install
  .travis.yml
Due: none

doc: added codecov badge
  README.md
Due: none

doc: fixed install instructions
  README.md
Due: none

feat: support for update student
  apps/api/src/features/student/student.service.ts
  apps/api/src/features/student/update-student/index.ts
  playground/api-nestjs-experiment/src/student/student.controller.ts
Due: apps-api

feat: added gender in student.entity
  apps/api/src/entity/student.entity.ts
  apps/api/src/features/student/search-students/index.ts
Due: apps-api

feat: added gender in student.entity
  apps/api/src/features/student/create-student/create-student.dto.ts
  apps/api/src/features/student/update-student/update-student.dto.ts
Due: apps-api

fix: Always return a result instead of throwing
  apps/web/src/features/student/student.api.ts
Due: apps-web

fix: add error message on fech failure
  apps/web/src/features/student/student.page.tsx
Due: apps-web

fix: correct aliasing
  apps/web/src/features/student/student.search.ts
Due: apps-web

improv: Add student search params type
  apps/web/src/features/student/student.api.ts
  apps/web/src/features/student/student.search.ts
Due: apps-web

chore: migrate to @redux/toolkit
  apps/web/package.json
  yarn.lock
Due: apps-web

new: migrate to @redux/toolkit
  apps/web/src/store.ts
Due: apps-web

new: migrate to @redux/toolkit
  apps/web/src/features/auth/auth.redux.ts
Due: apps-web

fix: remove unused imports
  apps/api/src/features/auth/auth.handlers.ts
Due: apps-api

chore: dev deps update
  apps/api/package.json
Due: apps-api

chore: dev deps
  apps/web/package.json
  yarn.lock
Due: apps-web

upd: updated to ky 0.16
  apps/web/src/core/api/api-service.ts
Due: apps-web

fix: correctly forward ref
  apps/web/src/component/ui/form/text-field.tsx
Due: apps-web

fix: Missing props type and defaultTimeout
  apps/web/src/features/student/student.page.tsx
Due: apps-web

cs: prettier
  apps/web/src/features/student/student.search.ts
Due: apps-web

chore: dev deps: faker
  apps/api/package.json
  yarn.lock
Due: apps-api

feat: added more fake data
  apps/api/scripts/db-seed-demo.ts
Due: apps-api

feat: added avatar_url
  apps/api/src/entity/student.entity.ts
  apps/api/src/features/student/create-student/create-student.dto.ts
Due: apps-api

chore: fix typeorm cli resolution
  apps/api/package.json
  apps/api/scripts/typeorm.cli.ts
Due: apps-api

cs: extra blank lines
  apps/api/src/features/student/create-student/create-student.dto.ts
Due: apps-api

cs: line
  apps/api/scripts/db-seed-demo.ts
Due: apps-api

feat: added avatar
  apps/web/src/component/ui/avatar/avatar.tsx
  apps/web/src/component/ui/avatar/index.ts
Due: apps-web

feat: added avatar
  apps/web/src/features/student/student.api.ts
  apps/web/src/features/student/student.list.tsx
  apps/web/src/features/student/student.page.tsx
Due: apps-web

chore: updated dev dependencies
  apps/web/package.json
  yarn.lock
Due: apps-web

Path conditions:
  apps-api: any of: apps/api
  apps-web: any of: apps/web
  packages-error-flow: any of: packages-error-flow
